/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

/* Global styles for the entire HTML page */
html {
    box-sizing: border-box; /* Use border-box for sizing */
}

body {
    margin: 0; /* Reset default margin */
    font-family: 'Ubuntu', sans-serif; /* Set the default font family */
    font-size: 12px; /* Set the default font size */
    min-height: 100vh; /* Minimum height of the viewport */
    display: flex; /* Use flex display to center content vertically and horizontally */
    align-items: center;
    justify-content: center;
}

/* Background styles for the background image */
.background {
    position: fixed; /* Fixed positioning for the background */
    width: 200%; /* Extend width to cover entire viewport */
    height: 200%; /* Extend height to cover entire viewport */
    top: -50%; /* Position vertically centered */
    left: -50%; /* Position horizontally centered */
    z-index: -1; /* Place the background behind other elements */
}

.background img {
    position: absolute; /* Absolute positioning for the background image */
    margin: auto; /* Center the image within its container */
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 50%; /* Ensure a minimum width of 50% */
    min-height: 50%; /* Ensure a minimum height of 50% */
    filter: blur(15px); /* Apply a blur effect */
    -webkit-filter: blur(50px); /* Blur effect for Webkit browsers */
    transform: scale(1.1); /* Slightly scale up the image */
}

/* Container styles for the main content */
.container {
    background-color: #e7e7e7; /* Background color */
    height: 500px; /* Set a fixed height */
    width: 400px; /* Set a fixed width */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* Box shadow for a subtle depth effect */
    transition: all 0.5s ease; /* Smooth transition on hover */
}

.container:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6); /* Adjusted box shadow on hover */
}

/* Player image styles */
.player-img {
    width: 300px; /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    position: relative; /* Relative positioning for the player image */
    top: -50px; /* Adjusted vertical positioning */
    left: 50px; /* Adjusted horizontal positioning */
}

.player-img img {
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 20px; /* Rounded corners for the image */
    height: 0; /* Initial height set to 0 */
    width: 0; /* Initial width set to 0 */
    opacity: 0; /* Initial opacity set to 0 for a fade-in effect */
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5); /* Box shadow for a subtle depth effect */
}

.player-img:hover img {
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.8); /* Adjusted box shadow on hover */
}

.player-img img.active {
    width: 100%; /* Full width on activation */
    height: 100%; /* Full height on activation */
    transition: all 0.5s; /* Smooth transition on activation */
    opacity: 1; /* Full opacity on activation */
}

/* Heading styles */
h2 {
    font-size: 25px; /* Set font size */
    text-align: center; /* Center text */
    font-weight: 500; /* Set font weight */
    margin: 10px 0 0; /* Margin properties */
}

h3 {
    font-size: 18px; /* Set font size */
    text-align: center; /* Center text */
    font-weight: 500; /* Set font weight */
    margin: 10px 0 0; /* Margin properties */
}

/* Player progress bar styles */
.player-progress {
    background-color: #fff; /* Background color for the progress bar */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Use a pointer cursor on hover */
    margin: 40px 20px 35px; /* Margin properties */
    height: 6px; /* Set height of the progress bar */
    width: 90%; /* Set width of the progress bar */
}

.progress {
    background-color: #212121; /* Background color for the progress indicator */
    border-radius: 5px; /* Rounded corners */
    height: 100%; /* Full height to indicate progress */
    width: 0%; /* Initial width set to 0% */
    transition: width 0.1s linear; /* Smooth transition for width changes */
}

.music-duration {
    position: relative; /* Relative positioning for music duration display */
    top: -25px; /* Adjusted vertical positioning */
    display: flex; /* Use flex display for alignment */
    justify-content: space-between; /* Space between elements */
}

/* Player controls styles */
.player-controls {
    position: relative; /* Relative positioning for player controls */
    top: -15px; /* Adjusted vertical positioning */
    left: 125px; /* Adjusted horizontal positioning */
    width: 200px; /* Set a fixed width */
}

/* Font Awesome icon styles */
.fa-solid {
    font-size: 30px; /* Set font size for Font Awesome icons */
    color: #666; /* Icon color */
    margin-right: 30px; /* Right margin between icons */
    cursor: pointer; /* Use a pointer cursor on hover */
    user-select: none; /* Disable text selection for icons */
    transition: all 0.3s ease; /* Smooth transition on hover */
}

.fa-solid:hover {
    filter: brightness(40%); /* Adjusted brightness on hover */
}

.play-button {
    font-size: 44px; /* Set font size for play button */
    position: relative; /* Relative positioning for play button */
    top: 3px; /* Adjusted vertical positioning */
}
