/* Import Google Fonts - Poppins with various weights */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Apply the following styles to all elements on the page */
* {
  margin: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* Styles for anchor (link) elements */
a {
  color: #fff;
  text-decoration: none;
}

/* Global styles for the entire page */
body {
  color: #fff;
  background-color: #212121;
  padding: 1.5rem;
}

/* Styles for the search box container */
.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  align-items: center;
  margin: 15px 0 30px 0;
}

/* Styles for the search form within the search box */
.search-box form {
  display: flex;
  max-width: 400px;
}

/* Styles for the search input field */
.search-box input {
  width: 100%;
  max-width: 400px;
  padding: 8px;
  border-radius: 0.4rem 0 0 0.4rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Styles for the search button */
.search-box .search-btn {
  width: 120px;
  background-color: #01579b;
  color: #fff;
  cursor: pointer;
  padding: 6px 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 0.4rem 0.4rem 0;
  transition: all 0.5s ease;
}

/* Hover effect for the search button */
.search-box .search-btn:hover {
  background-color: #0091ea;
  border: 1px solid #fff;
}

/* Styles for the container of cards */
.container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Styles for individual cards */
.container .card {
  position: relative;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  line-height: 20px;
  width: 285px;
  height: 360px;
  overflow: hidden;
  transition: all 0.5s ease;
}

/* Styles for the content within each card */
.container .card .card-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 100px 10px 5px;
  background-image: linear-gradient(
    180deg,
    rgba(51, 55, 69, 0),
    rgba(16, 21, 40, 0.95)
  );
  transition: all 0.5s ease;
}

/* Styles for the header section within the card content */
.container .card .card-content .card-header {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Styles for buttons within the card content */
.container .card .card-content .card-btn {
  color: #fff;
  cursor: pointer;
  padding: 6px 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem;
  transition: all 0.5s ease;
}

/* Styles for additional information that can be toggled */
.container .card .card-content .info {
  max-height: 0;
  opacity: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  transition: all 0.5s ease;
}

/* Hover effect for the entire card */
.container .card:hover {
  cursor: pointer;
}

/* Hover effect for the card content */
.container .card:hover .card-content {
  background-image: linear-gradient(180deg, rgba(51, 55, 69, 0), #101528 48%);
}

/* Hover effect for buttons within the card content */
.container .card:hover .card-btn {
  background-color: #0091ea;
  border-color: #0091ea;
}

/* Styles for a container that displays search results */
#result {
  display: flex;
  max-width: 1200px;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media query for screens with a maximum width of 550px */
@media screen and (max-width: 550px) {
  .search-box {
    justify-content: center;
  }

  .search-box form {
    margin-top: 10px;
  }
}
